In [20]:
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
import pandas as pd

In [21]:
df = pd.read_csv("Data/customer.csv")

In [40]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [41]:
df.isnull().sum()

age          0
gender       0
review       0
education    0
purchased    0
dtype: int64

In [45]:
print(df["review"].value_counts())
print("----------------------------------------------------")
print(df["education"].value_counts())

review
Poor       18
Good       18
Average    14
Name: count, dtype: int64
----------------------------------------------------
education
PG        18
School    16
UG        16
Name: count, dtype: int64

In [23]:
X_train,X_test,Y_train,Y_test = train_test_split(df.iloc[:,0:4], df.iloc[:,-1:],test_size=0.1)

In [24]:
X_train.head()

    age  gender   review education
1    68  Female     Poor        UG
6    18    Male     Good    School
46   64  Female     Poor        PG
13   57  Female  Average    School
22   18  Female     Poor        PG

In [30]:
X_test.shape

(5, 4)

# ColumnsTransformer

In [32]:
transformers = ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(),['review']),
    ('tnf2',OrdinalEncoder(categories=[["School","UG","PG"]]),["education"]),
    ("tnf3",OneHotEncoder(sparse_output=False,drop="first"),["gender"])
    ],remainder="passthrough"
)

In [35]:
transformers.fit_transform(X_train)

array([[ 2.,  1.,  0., 68.],
       [ 1.,  0.,  1., 18.],
       [ 2.,  2.,  0., 64.],
       [ 0.,  0.,  0., 57.],
       [ 2.,  2.,  0., 18.],
       [ 2.,  2.,  1., 76.],
       [ 0.,  2.,  1., 32.],
       [ 1.,  0.,  0., 57.],
       [ 1.,  2.,  0., 89.],
       [ 1.,  1.,  1., 74.],
       [ 0.,  1.,  1., 73.],
       [ 2.,  2.,  1., 61.],
       [ 0.,  1.,  1., 92.],
       [ 2.,  0.,  1., 51.],
       [ 1.,  1.,  0., 39.],
       [ 1.,  0.,  1., 19.],
       [ 1.,  1.,  0., 34.],
       [ 1.,  1.,  0., 98.],
       [ 0.,  2.,  0., 16.],
       [ 0.,  0.,  1., 86.],
       [ 0.,  0.,  0., 57.],
       [ 2.,  1.,  0., 22.],
       [ 2.,  2.,  1., 97.],
       [ 1.,  0.,  0., 96.],
       [ 2.,  2.,  1., 15.],
       [ 0.,  1.,  0., 16.],
       [ 2.,  0.,  1., 48.],
       [ 2.,  1.,  1., 75.],
       [ 2.,  0.,  0., 22.],
       [ 0.,  1.,  0., 83.],
       [ 1.,  1.,  1., 74.],
       [ 1.,  2.,  0., 70.],
       [ 1.,  1.,  0., 25.],
       [ 1.,  2.,  1., 23.],
       [ 1.,  2.,  0., 72.],
       [ 0.,  1.,  0., 77.],
       [ 1.,  2.,  0., 30.],
       [ 1.,  0.,  1., 39.],
       [ 1.,  0.,  0., 45.],
       [ 2.,  0.,  0., 60.],
       [ 0.,  2.,  1., 94.],
       [ 0.,  0.,  0., 30.],
       [ 2.,  0.,  1., 74.],
       [ 0.,  0.,  0., 31.],
       [ 0.,  1.,  0., 65.]])

In [34]:
transformers.fit_transform(X_test)

array([[ 1.,  2.,  0., 53.],
       [ 0.,  2.,  0., 38.],
       [ 1.,  2.,  0., 69.],
       [ 1.,  2.,  1., 27.],
       [ 1.,  1.,  1., 59.]])